html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 50px;
}

.container header {
  padding: 0 calc(50% - 720px);
}

.container main {
  padding: 0 calc(50% - 600px);
  background-color: white;
}

.container footer {
  padding: 0 calc(50% - 600px);
}

footer span {
  margin: 0 10px;
}

.greeting {
  margin-top: 20px;
}

.greeting .greeting__link {
  display: inline-block;
  margin-top: 1.5em;
  font-weight: 700;
  color: white;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  border: none;
  font-family: 'Roboto';
  padding: 9px 13px;
  border-radius: 10px;
  background-color: #532d52;
}

.banners {
  margin: 20px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
}

.banners a {
  display: block;
}

.banner img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.banner_big,
.banner-link_big {
  grid-row-end: span 2;
}

button.btn {
  border: none;
  height: 30px;
  padding: 1px 10px;
  border-radius: 10px;
  background-color: gold;
}

.bootstrap-scope .btn {
  height: auto;
}

button.link {
  background-color: transparent;
  border: 1px solid gold;
  box-sizing: border-box;
}

button.button-trash {
  position: absolute;
  right: 20px;
  top: 120px;
  cursor: pointer;
  height: auto;

}

button.btn_exit-profile {
  margin-bottom: 20px;
  cursor: pointer;
}

.catalog-header {
  margin-left: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin: 0 10px 10px;
}

.cards a {
  display: block;
}

.no-results-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  justify-content: center;
}

.no-results-block svg {
  font-size: 4rem;
  fill: #dedede;
}

.no-results-block .btn {
  border: 1px solid #dedede;
  border-radius: 18px;
  display: flex;
  padding: 6px 12px;

}

.profile {
  margin: 0 10px;
}

.avatar {
  max-height: 200px;
}

.avatar__image {
  max-height: inherit;
}

.user-description dl {
  line-height: 1.2em;
}

.user-description dt {
  font-weight: bold;
}

.user-description dd {
  margin-inline: 0px;
  margin-bottom: 0.6em;
}

.back-link {
  display: flex;
  justify-content: space-between;
  width: 6.8em;
  margin: 10px 0px 10px 10px;
}

.product-heading h1 {
  margin: 0.67em 8px;
}        

.product {
  display: flex;
}

.product-image {
  width: 65%;
  display: flex;
  position: relative;
  justify-content: center;
}

.product-image img {
  max-width: 100%;
  max-height: 30em;
  box-sizing: border-box;
  padding: 1em;
}

.product-image__discount-label {
  position: absolute;
  left: 1em;
  top: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 7em;
  background-color: #f34336;
  color: white;
  padding: 0.1em 0.4em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
}

.product-data {
  box-sizing: border-box;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 8px;
}

.product-data__price {
  font-size: 2em;
  font-weight: bold;
}

.product-data__old-price {
  margin-left: 0.7em;
  font-weight: bold;
  font-size: 1.3em;
  color: gray;
  text-decoration-line: line-through;
}

.product-data__description {
  line-height: 1.2em;
}

.reviews h2 {
  margin: 0.83em 8px;
}        

.review-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 8px 20px;
}

.nav-mobile {
  display: none;
}

.form-preview {
  height: 106px;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

@media (max-width: 1260px) {
  .container>* {
    padding: 0 30px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .greeting {
    margin: 10px 10px 0;
  }

  .banners {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .banner_big {
    width: 500px;
  }
}

@media (max-width: 720px) {
  .container {
    grid-template-rows: 50px auto 60px;
  }

  .container>* {
    padding: 0 30px;
  }

  header .search {
    justify-content: flex-end;
  }

  header .menu {
    display: none;
  }

  .nav-mobile {
    display: flex;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .back-link {
    margin: 20px 0px 20px 10px;
  }

  .product-heading h1 {
    margin: 0em 8px;
  }

  .product {
    display: block;
  }
  
  .product-image {
    width: 100%;
  }

  .product-data {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .banner_big {
    width: auto;
  }
}

@media (max-width: 350px) {
  .logo {
    display: none;
  }

  header .search {
    justify-content: center;
  }
}